streamlit==1.36.0
streamlit_extras==0.4.3
folium==0.17.0
geopandas==1.0.1
pandas==2.2.2
plotly==5.22.0
Shapely==2.0.5
streamlit_folium==0.21.1
numpy==1.24.2  # Adjust this to a compatible version if needed
